*.gitignore filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.xcworkspacedata filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.xcscheme filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.xib filter=lfs diff=lfs merge=lfs -text
*.swift filter=lfs diff=lfs merge=lfs -text
*.entitlements filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/plcrashreporter/.github/CODEOWNERS filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.sty filter=lfs diff=lfs merge=lfs -text
*.tex filter=lfs diff=lfs merge=lfs -text
/plcrashreporter/Doxyfile filter=lfs diff=lfs merge=lfs -text
/plcrashreporter/LICENSE filter=lfs diff=lfs merge=lfs -text
*.podspec filter=lfs diff=lfs merge=lfs -text
*.exp filter=lfs diff=lfs merge=lfs -text
*.modulemap filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
/plcrashreporter/Resources/Tests/PLCrashAsyncCompactUnwindEncodingTests/Makefile filter=lfs diff=lfs merge=lfs -text
*.ios filter=lfs diff=lfs merge=lfs -text
*.macosx filter=lfs diff=lfs merge=lfs -text
*.sim filter=lfs diff=lfs merge=lfs -text
/plcrashreporter/Resources/Tests/PLCrashAsyncDwarfEncodingTests/Makefile filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.2 filter=lfs diff=lfs merge=lfs -text
*.3 filter=lfs diff=lfs merge=lfs -text
*.4 filter=lfs diff=lfs merge=lfs -text
*.5 filter=lfs diff=lfs merge=lfs -text
*.6 filter=lfs diff=lfs merge=lfs -text
*.7 filter=lfs diff=lfs merge=lfs -text
*.8 filter=lfs diff=lfs merge=lfs -text
*.9 filter=lfs diff=lfs merge=lfs -text
*.10 filter=lfs diff=lfs merge=lfs -text
*.11 filter=lfs diff=lfs merge=lfs -text
*.12 filter=lfs diff=lfs merge=lfs -text
*.13 filter=lfs diff=lfs merge=lfs -text
*.14 filter=lfs diff=lfs merge=lfs -text
*.15 filter=lfs diff=lfs merge=lfs -text
*.16 filter=lfs diff=lfs merge=lfs -text
*.17 filter=lfs diff=lfs merge=lfs -text
*.18 filter=lfs diff=lfs merge=lfs -text
*.19 filter=lfs diff=lfs merge=lfs -text
*.20 filter=lfs diff=lfs merge=lfs -text
*.21 filter=lfs diff=lfs merge=lfs -text
*.22 filter=lfs diff=lfs merge=lfs -text
*.s filter=lfs diff=lfs merge=lfs -text
*.plcrash filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.mm filter=lfs diff=lfs merge=lfs -text
*.S filter=lfs diff=lfs merge=lfs -text
*.proto filter=lfs diff=lfs merge=lfs -text
*.pch filter=lfs diff=lfs merge=lfs -text
*.strings filter=lfs diff=lfs merge=lfs -text
*.rtf filter=lfs diff=lfs merge=lfs -text
/DittoObjC.framework/Versions/A/DittoObjC filter=lfs diff=lfs merge=lfs -text
/DittoObjC.framework/Versions/A/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
DittoObjC.framework/Versions/A/DittoObjC filter=lfs diff=lfs merge=lfs -text
